{% extends '@EGamebook/layout.html.twig' %}

{% block body %}
    <h1 class="center">Books list</h1>
    <div class="container">
        <div class="row">
            {% for book in books %}
                <a href="{{ path('book_show', { 'id': book.id }) }}">
                    <div class="col s12 m6 l3 card-panel book">


                        <h5 class="center">{{ book.title }}</h5>
                        <h6 class="center">{{ book.author }}</h6>

                        {% if book.fichiers.srcs is empty %}
                            <img class="responsive-img" src="{{ asset('bundles/platform/img/5973a860478c0.jpeg' )}}">
                        {% else %}
                            <img class="responsive-img" src="{{ asset('bundles/platform/img/' ~ book.fichiers.srcs[0]) }}">
                        {% endif %}

                        <a class="btn" href="{{ path('book_show', { 'id': book.id }) }}">show  </a>
                {#</a><i class="material-icons right">add</i>#}

                        <a class="btn" href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>


                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
