{% extends '@EGamebook/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="row-full">
                <a href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="photohaut responsive-img"
                    src="{{ asset('bundles/platform/img/fiftyShadesUp.png') }}">

                </a>
            </div>
        </div>
        <div class="row">
            <h4 class="reco center-align"><strong>Recommended for Steph</strong></h4>
            <div class="carousel carousel-slider center-align">
                <a class="carousel-item" href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="responsive-img"
                         src="{{ asset('bundles/platform/img/Carroussel Photo 1.jpg' ) }}">
                    <img class="star responsive-img" src="{{ asset('bundles/platform/img/stars_1.png') }}">
                </a>
                <a class="carousel-item" href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="responsive-img"
                         src="{{ asset('bundles/platform/img/Carroussel Photo 2.jpg' ) }}">
                    <img class="star responsive-img" src="{{ asset('bundles/platform/img/stars_1.png') }}">
                </a>
                <a class="carousel-item" href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="responsive-img"
                         src="{{ asset('bundles/platform/img/Carroussel Photo 3.jpg' ) }}">
                    <img class="star responsive-img" src="{{ asset('bundles/platform/img/stars_1.png') }}">
                </a>
                <a class="carousel-item" href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="responsive-img"
                         src="{{ asset('bundles/platform/img/Carroussel Photo 4.jpg' ) }}">
                    <img class="star responsive-img" src="{{ asset('bundles/platform/img/stars_1.png') }}">
                </a>
                <a class="carousel-item" href="{{ path('e_gamebook_intro_pres') }}">
                    <img class="responsive-img"
                         src="{{ asset('bundles/platform/img/Carroussel Photo 5.jpg' ) }}">
                    <img class="star responsive-img" src="{{ asset('bundles/platform/img/stars_1.png') }}">
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
            $('.slider').slider();
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        });
    </script>
{% endblock %}